<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О фреймворке</title>
</head>
<body>
<h2>Это wsgi фреймворк в котором используются паттерны page controller и front controller</h2>
<p>В нем есть следующие функции:</p>
<ul>
    <li>возможность отвечать на get запросы пользователя (код ответа + html страница)</li>
    <li>для разных url - адресов отвечать разными страницами</li>
    <li>page controller - возможность без изменения фреймворка добавить view для обработки нового адреса</li>
    <li>front controller - возможность без изменения фреймворка вносить изменения в обработку всех запросов</li>
</ul>
</body>
</html>