<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<form action="" method="post">
			<fieldset>
				<legend>Зарегистрируйтесь</legend>
				<p><label class="title" for="theme">Тема сообщения:</label>
					 <input type="text" name="theme" id="theme"><br />
					 <label class="title" for="text">Текст:</label>
					<textarea name="text"></textarea>
					<label for="email" class="email">email</label>
					<input type="email" name="email" id="email"></p>
			</fieldset>
 	    <div class="submit"><input type="submit" value="Отправить" /></div>
		</form>
</body>
</html>